In [1]:
# Google API - Create heatmaps for weather parameters
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the Google API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2020-10-24 16:46:57,69.45,-133.04,10.40,92,40,4.70
1,1,Nuuk,GL,2020-10-24 16:46:57,64.18,-51.72,30.20,80,20,4.70
2,2,The Pas,CA,2020-10-24 16:43:06,53.83,-101.25,23.00,79,90,14.99
3,3,Letnyaya Stavka,RU,2020-10-24 16:46:57,45.43,43.45,58.06,63,45,1.90
4,4,Hilo,US,2020-10-24 16:46:57,19.73,-155.09,73.40,69,75,5.82

In [3]:
# gmaps requires mapping data to be float64 or int64
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the cloudiness.
clouds = city_data_df["Cloudiness"]
weig = []
for temp in clouds:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Kampot,KH,2020-10-24 16:46:58,10.62,104.18,80.60,94,20,2.93
15,15,Butaritari,KI,2020-10-24 16:46:59,3.07,172.79,81.88,69,100,6.64
17,17,Pangai,TO,2020-10-24 16:46:59,-19.80,-174.35,76.84,83,100,17.45
18,18,Palimbang,PH,2020-10-24 16:46:59,6.21,124.19,77.09,83,100,5.44
20,20,Bathsheba,BB,2020-10-24 16:46:59,13.22,-59.52,87.80,66,20,24.16
25,25,Thinadhoo,MV,2020-10-24 16:47:00,0.53,72.93,83.32,77,38,10.27
29,29,Kalawit,PH,2020-10-24 16:47:01,8.07,122.52,76.86,88,100,3.71
33,33,Kumluca,TR,2020-10-24 16:47:01,36.37,30.29,79.05,35,34,6.29
38,38,Ca Mau,VN,2020-10-24 16:47:02,9.18,105.15,75.45,92,9,2.93
51,51,Atuona,PF,2020-10-24 16:47:04,-9.80,-139.03,78.69,77,2,21.70

In [14]:
preferred_cities_df.count()

City_ID       177
City          177
Country       176
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
9       Kampot      KH     80.60  10.62  104.18
15  Butaritari      KI     81.88   3.07  172.79
17      Pangai      TO     76.84 -19.80 -174.35
18   Palimbang      PH     77.09   6.21  124.19
20   Bathsheba      BB     87.80  13.22  -59.52
25   Thinadhoo      MV     83.32   0.53   72.93
29     Kalawit      PH     76.86   8.07  122.52
33     Kumluca      TR     79.05  36.37   30.29
38      Ca Mau      VN     75.45   9.18  105.15
51      Atuona      PF     78.69  -9.80 -139.03

In [16]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [19]:
len(hotels["results"])

20

In [21]:
# Iterate through the hotel_df.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try: hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Kampot,KH,80.60,10.62,104.18,Champa Lodge
15,Butaritari,KI,81.88,3.07,172.79,Isles Sunset Lodge
17,Pangai,TO,76.84,-19.80,-174.35,Ha'apai Beach Resort
18,Palimbang,PH,77.09,6.21,124.19,Felmar Beach resort
20,Bathsheba,BB,87.80,13.22,-59.52,Atlantis Hotel
25,Thinadhoo,MV,83.32,0.53,72.93,
29,Kalawit,PH,76.86,8.07,122.52,Ompoy Pension House
33,Kumluca,TR,79.05,36.37,30.29,TurkuazKöy
38,Ca Mau,VN,75.45,9.18,105.15,Khách Sạn Mường Thanh Luxury Cà Mau
51,Atuona,PF,78.69,-9.80,-139.03,Villa Enata

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))